* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
.page {
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li {
  list-style: none;
}

.button, .form__input--buttons-wrapper button, .content__header button, .sidebar__unpin, .sidebar__controls button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  background-color: inherit;
}

.button-border, .form__input--buttons-wrapper button, .content__header button, .sidebar__list, .sidebar__unpin, .sidebar__menu--container, .sidebar__search, .sidebar__controls {
  border: 1px solid #d5d8dd;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  background-color: #fff;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-img {
  height: 24px;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  position: relative;
}
.header__search-input {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 296px;
}
.header__search::before {
  content: "";
  position: absolute;
  left: 272px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: url("../../public/icons/search.svg") no-repeat center;
  background-size: contain;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.header__user-avatar {
  display: block;
  height: 32px;
}
.header__user-name {
  font-size: 1rem;
}
.header__user-settings {
  background: none;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #d5d8dd;
  border-radius: 4px;
}
.header__user-settings img {
  height: 20px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: none;
  height: 100vh;
}
.sidebar__controls button {
  padding: 16px;
  margin: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.sidebar__controls button img {
  height: 20px;
}
.sidebar__search {
  width: 208px;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4285714286;
  position: relative;
}
.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__menu--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding: 16px;
  border-left: none;
  position: relative;
}
.sidebar__menu--container::before {
  content: "";
  position: absolute;
  left: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 20px;
  background: url("../../public/icons/filter.svg") no-repeat center;
  background-size: contain;
  z-index: 1;
}
.sidebar__unpin {
  border-radius: 4px;
  padding: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.sidebar__unpin > img {
  width: 20px;
  height: 20px;
}
.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.sidebar__item {
  font-size: 14px;
}
.sidebar__item:hover {
  background-color: #ddd;
}
.sidebar__item > .sidebar__link {
  color: #2e3238;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding: 10px 16px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  border-top: 1px solid #d5d8dd;
}
.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}
.content__header button {
  height: 32px;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
}
.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__title h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.content__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.content .content__actions--save-button {
  background-color: #0078cf;
  color: #fff;
  border: none;
}
.content .content__actions--save-button:hover {
  background-color: #0056b3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin: 0 16px;
}
.form__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333333333;
  color: #2e3238;
  margin: 0;
  margin-bottom: 8px;
}
.form__input--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  width: 100%;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.form__row--one {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form__label {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
}
.form__label--red-flag::before {
  content: "*";
  color: #b21f00;
  padding-right: 4px;
}
.form__input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.form__input--buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  position: relative;
}
.form__input--buttons-wrapper .form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form__input--buttons-wrapper::after {
  content: "";
  position: absolute;
  right: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: url("../../public/icons/remove.svg") no-repeat center;
  background-size: contain;
}
.form__input--buttons-wrapper button {
  border-radius: 4px;
}
.form__input--buttons-wrapper-without-after::after {
  content: none;
}/*# sourceMappingURL=main.css.map */