.main {
  display: flex;
}
.content {
  border-top: 1px solid #d5d8dd;
  @media (min-width: 1920px) {
    min-width: 1584px;
  }

  @media (min-width: 1200px) and (max-width: 1919px) {
    min-width: 864px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    min-width: 680px;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    min-width: 544px;
  }

  @media (min-width: 320px) and (max-width: 575px) {
    min-width: 288px;
  }

  @extend .button-border;
  border-right: none;
  border-bottom: none;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    &--shadow {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 767px) {
      display: none;
      .content__title,
      .content__actions {
        display: none;
      }
    }
    &-small {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 16px;
      & h3 {
        font-size: 14px;
        font-weight: 600;
        line-height: calc(20 / 14);
        text-transform: uppercase;

        color: #5c6470;

        margin: 0;
      }
      & button {
        @extend .button, .button-border;
        border-radius: 4px;
        width: 32px;
        height: 32px;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    & button {
      height: 32px;
      @extend .button;
      @extend .button-border;
      border-radius: 4px;

      padding: 6px 12px;

      font-size: 14px;
    }
  }
  .createBtn {
    width: 82px;
    height: 32px;
    @extend .button, .button-border;
  }
  &__title {
    display: flex;
    column-gap: 16px;
    align-items: center;

    h3 {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 20px;
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    column-gap: 4px;
  }
  & &__actions--save-button {
    background-color: #0078cf;
    color: #fff;
    border: none;
    &:hover,
    &:focus {
      background-color: #0056b3;
    }
  }
}
